extends layout

block content
  div.blog-block
    a(href='/blog/#{blog.url}')
      h1 #{blog.title}
    !{blog.content}
    span.blog-info
      <i class="fa fa-tag"></i>
      each tag in blog.tags
        a(href='/tag/#{tag.name}')
          code #{tag.name}
    span.blog-info
      <i class="fa fa-pencil-square-o"></i>
      a(href='/edit/#{blog.url}') Edit
    span.blog-info
      <i class="fa fa-calendar"></i> #{blog.updateTime}
  div.comments-block
  form#comment-form
    input(type='hidden' name='id' value='#{blog._id}')
    input(id='name' name='name' placeholder='Name')
    br
    input(id='email' name='email' placeholder='Email')
    br
    input(id='website' name='website' placeholder='Website')
    br
    textarea(id='content' name='content' rows='15' placeholder='Comment')
    br
    input.button(id='comment-submit' type='button' value='submit')