extends layout

block content
  each blog in blogs
    div.blog-block
      a(href='/blog/#{blog.url}')
        h1 #{blog.title}
      p #{blog.content}
      each tag in blog.tags
        a(href='/tag/#{tag.name}')
          code #{tag.name}