extends layout

block content
  div.blog-block
    a(href='/blog/#{blog.url}')
      h1 #{blog.title}
    span.blog-info
      <i class="fa fa-tag"></i>
      each tag in blog.tags
        a(href='/tag/#{tag.name}')
          code #{tag.name}
    if user
      span.blog-info
        <i class="fa fa-pencil-square-o"></i>
        a(href='/edit/#{blog.url}') Edit
    span.blog-info
      <i class="fa fa-calendar"></i> #{blog.updateTime}
    !{blog.content}
  div.comments-block
    mixin comment_list(comments)
      ul
        each comment in comments
          li.comment-block(id='#{comment._id}')
            div
              div.comment-name #{comment.name}
              div.comment-time #{comment.updateTime}
              div.comment-content !{comment.content}
              a.comment-reply(href='#' onclick='moveForm("#{comment._id}"); return false;') Reply
            if comment.childrenComment
              mixin comment_list(comment.childrenComment)
    +comment_list(comments)
  form#comment-form
    input(type='hidden' name='target_blog' value='#{blog._id}')
    input(type='hidden' name='parent_comment')
    input(id='name' name='name' placeholder='Name')
    br
    input(id='email' name='email' placeholder='Email')
    br
    input(id='website' name='website' placeholder='Website')
    br
    textarea(id='content' name='content' rows='15' placeholder='Comment')
    br
    input.button(id='comment-submit' type='button' value='submit')