extends layout

block content
  //- - var i = 0
  //- - for (; i < 10;)
  //-   p #{i}
  //-   - i++
  each blog in blogs
    div.blog-block
      a(href='/blog/#{blog.url}')
        h1 #{blog.title}
      !{blog.content}
      div.blog-infos
        span.blog-info
          <i class="fa fa-tag"></i>
          each tag in blog.tags
            a(href='/tag/#{tag.name}')
              code #{tag.name}
        span.blog-info
          <i class="fa fa-pencil-square-o"></i>
          a(href='/edit/#{blog.url}') Edit
        span.blog-info
          <i class="fa fa-calendar"></i> #{blog.updateTime}